---
---

<html lang="en" class="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>LED Control Panel</title>
    </head>
    <body class="bg-gray-50 dark:bg-slate-900 dark:text-slate-200">
        <slot />
        <footer class="text-center">Created with ❤️ by DarkIce</footer>
    </body>
</html>
